<h1>Dictionary!</h1>

<h1>All categories</h1>
<ul>
  #foreach ($word in $words)
    <li><a href="/words/$word.getId()">$word.getSpelling()</a></li>
  #end
</ul>

<a href="/words/new">Add a new Word</a>
