<h1>Dictionary!</h1>

<h1>All Words</h1>
<ul>
  #if($words.size() > 0)
    #foreach ($word in $words)
      <li><a href="/words/$word.getId()">$word.getSpelling()</a></li>
    #end
  #else
    <p> The dictionary is empty! </p>
  #end
</ul>

<a href="/words/new">Add a new word</a>
